
/**
 * General.
 * 
 */
body, div, h1, h2, h3, h4, h5, h6, p, pre, blockquote, label, ul, ol, li, dl, dd, hr, address {
  padding:0;
  margin:0; 
  font-weight: normal;
  font-style: normal;
}
body {
  font: 1em/1.5em "Adobe Caslon Pro","Hoefler Text", Georgia, Garamond, Times, serif;
  color: #444242;
  background: #fff url(images/bg-body.gif) repeat-x 0 0;
  text-align: center;
}
input {
  font: 0.86em/1.43em Verdana, sans-serif;
  color: #494949;
}
textarea, select {
  font: 0.86em/1.43em Verdana, sans-serif;
  color: #494949;
}
fieldset {
  border: 1px solid #d0d0d0;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Adobe Caslon Pro","Hoefler Text", Georgia, Garamond, Times, serif;
}
h1 {
  font-size: 2.3em;
}
h2 {
  font-size: 160%;
  line-height: 130%;
}
h3 {
  font-size: 140%;
  line-height: 130%;
}
h4 {
  font-size: 130%;
}
h5 {
  font-size: 120%;
}
h6 {
  font-size: 110%;
}
p {
  margin: 0.6em 0 1.2em;
  padding: 0;
}
a:link, a:visited {
  color: #000000;
  text-decoration: none;
  color:#9CC32A;
  text-decoration:none;
}
a:hover {
  text-decoration: underline;
}
a:active, a.active {
  color: #6c871d;
}
hr {
  border: none;
  height: 1px;
  background: #d0d0d0;
}
ol {
  margin: 0.5em 0 1.8em 2.4em;
}
ul, quote, code, fieldset {
  margin: .5em 0;
}
ul {
  margin: 0.5em 0 1em;
  padding: 0;
}
ul li {
  margin: 0.4em 0 0.4em .5em;
}
ul.menu, .item-list ul {
  margin: 0.35em 0 0 -0.5em;
  padding: 0;
}
ul.menu ul, .item-list ul ul {
  margin-left: 0em;
}
ul li, ul.menu li, .item-list ul li, li.leaf {
  margin: 0.15em 0 0.15em .5em;
}
ul li, ul.menu li, .item-list ul li, li.leaf {
  padding: 0 0 .2em 1.5em;
  list-style-type: none;
  list-style-image: none;
  background: transparent url(images/menu-leaf.gif) no-repeat 0 .25em;
}
ul li.expanded {
  background: transparent url(images/menu-expanded.gif) no-repeat 0 .25em;
}
ul li.collapsed {
  background: transparent url(images/menu-collapsed.gif) no-repeat 0 .25em;
}
ul li.leaf a, ul li.expanded a, ul li.collapsed a {
  display: block;
}
ul.inline li {
  background: none;
  margin: 0;
  padding: 0 1em 0 0;
}
fieldset ul.clear-block li {
  margin: 0;
  padding: 0;
  background-image: none;
}
dl {
  margin: 0.5em 0 1em 0;
}
dl dt {
}
dl dd {
  margin: 0 0 .5em 1.5em;
}
img, a img {
  border: none;
}
table {
  margin: 1em 0;
  width: 100%;
}
thead th {
  border-bottom: 1px solid #d0d0d0;
  color: #494949;
  font-weight: bold;
}
th a:link, th a:visited {
  color: #a5a291;
}
td, th {
  padding: .3em .5em;
}
tr.even, tr.odd, tbody th {
  border: solid #e5e5e5;
  border-width: 1px 0;
}
tr.odd, tr.info {
  background-color: #f8f8f8; 
}
tr.even {
  background-color: #fff;
}
tr.odd td.active {
  background-color: #efefef;
}
tr.even td.active {
  background-color: #f9f7ed;
}
td.region, td.module, td.container {
  border-top: 2px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
  background-color: #f9f7ed;
  color: #455067;
  font-weight: bold;
}
tr:first-child td.region, tr:first-child td.module, tr:first-child td.container {
  border-top-width: 0;
}
td.menu-disabled {
  background: #e9e9e9;
}
span.form-required {
  color: #ffae00;
}
span.submitted, .description {
  font-size: 0.92em;
  color: #898989;
}
.description {
  line-height: 150%;
  margin-bottom: 0.75em;
  color: #898989;
}
.messages, .preview {
  margin: .75em 0 .75em;
  padding: .5em 1em;
}
.messages ul {
  margin: 0;
}
.form-checkboxes, .form-radios, .form-checkboxes .form-item, .form-radios .form-item {
  margin: 0.25em 0;
}
#center form {
  margin-bottom: 2em;
}
.form-button, .form-submit {
  margin: 2em 0.5em 0 0;
}
.confirmation .form-submit,
.search-form .form-submit,
.poll .form-submit,
fieldset .form-button, fieldset .form-submit,
.sidebar .form-button, .sidebar .form-submit,
table .form-button, table .form-submit {
  margin: 0;
}
.box {
  margin-bottom: 2.5em;
}

/**
 * Layout.
 */
#wrapper-header {
  background: #f9f7ed url(images/bg-header.gif) repeat-x left bottom;
  margin-top: 25px;
}
#header {
  width: 60em;
  margin: 0 auto;
  height: 5em;
  position: relative;
  text-align: left;
  background: #f9f7ed url(images/bg-header.gif) repeat-x left bottom;
}
#header-block {
  position: absolute;
  top: 0.5em;
  right: 0;
  width: 48em;
  height: 1.6em;
}
#wrapper-main {
  background: #fff url(images/bg-main.gif) repeat-x 0 0;
}
#main {
  width: 60em;
  margin: 0 auto;
  padding-top: 1.6em;
  text-align: left;
  background: #fff url(images/bg-main.gif) repeat-x 0 0;
}
#topbar {
  min-height: 1em;
}
#sidebar-left {
  width: 14em;
  margin: 2.2em 1.4em 0 0;
  float: left;
}
#sidebar-right {
  width: 14em;
  float: right;
  margin-top: 2.2em;
}
#center {
  width: 100%; /* if #center is the only column */
  float: left;
}
.sidebar-right #center, .sidebar-left #center { /* if #center shares full width with one other column */
  width: 43em;
}
.two-sidebars #center { /* if #center, #sidebar-first and #sidebar-second are all present */
  width: 25em;
}
.sidebar-left #content, .sidebar-right #content, .two-sidebars #content { 
  float: right; 
}
.two-sidebars #content { 
  width: 43em;
}
#footer {
  clear: both;
  margin: 0 auto;
  padding-top: 2em;
  text-align: center;
}

/**
 * Header Area.
 */
#site-name {
  font-size:2.3em;
  padding: 0.2em 0 0 0;
  margin-top:4px;
}
#header #site-name a {
  color: #47494d;
}
#header #site-name a:hover {
  text-decoration: none;
}
#site-name a img {
  border: none;
  float: left;
  margin-top: -0.2em;
}
h2#site-slogan {
  font: bold 1.1em/1.43em Verdana, sans-serif; 
  padding-top: 0.5em;
}
ul.primary-links {
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: -1px;
  right: 0;
  list-style: none;
}
ul.primary-links li {
  margin: 0;
  padding: 0;
  display: inline;
  float: left;
  margin: 0 0.2em 1px;
  background: url(images/bg-header-tab-left.gif) no-repeat left top;
}
ul.primary-links li.active {
  background: url(images/bg-header-tab-left-active.gif) no-repeat left top;
}
ul.primary-links li span, ul.primary-links li span {
  margin: 0;
  padding: 0;
  display: block;	
  float: left;
  background: url(images/bg-header-tab-right.gif) no-repeat right top;
}
ul.primary-links li span a:link, ul.primary-links li span a:visited  {
  margin: 0;
  color: #fff;
  background: transparent url(images/bg-header.gif) repeat-x left bottom; 
  display: block;
  padding: 0.2em 0.9em;
  font-weight: bold;
  float: left;
}
ul.primary-links li span a:hover {
  color: #9cc32a;
  text-decoration: none;
}
ul.primary-links li.active span, #header ul.primary-links li.active span {
  background: url(images/bg-header-tab-right-active.gif) no-repeat right top;
  color: #555;
}
ul.primary-links li.active a:active, #header ul.primary-links li.active a.active, #header ul.primary-links li.active a {
  color: #4c4f53;
  background: url(images/bg-header-tab-bottom-active.gif) repeat-x left bottom;
}
/**
 * Uncomment if you want to place a menu in the Header
 * See http://drupal.org/node/117916 for more
 *
 * ul.secondary-links li {
 * background:none;
 * float:right;
 * font-size:90%;
 * list-style-image:none;
 * list-style-type:none;
 * padding:1em 0 0.2em 1.5em;}
 * 
 */
#search-theme-form {
  background-color: transparent;
  position: absolute;
  right: 0.2em;
  top: .1em;
}
#search-theme-form h2 {
  margin: 0;
  padding: 0;
  float: left;
  font: 1em/1.5em Verdana, sans-serif;
}
#search-theme-form input {
  margin: 0 0 0 0.5em;
  padding: 0;
}
/**
 * Local tasks.
 */
ul.primary, ul.primary li, ul.secondary, ul.secondary li {
  border: 0;
  background: none;
  margin: 0;
  padding: 0;
}
#tabs-wrapper {
  border-bottom: 1px solid #eeeded;
  padding-bottom: 1.2em;
  margin-bottom: 1.2em;
}
ul.primary {
  padding: 0.5em 0 0;
  float: left;
}
ul.secondary {
  clear: both;
  padding-bottom: 1.2em;
  margin-bottom: 1.2em;
  text-align: left;
}
.secondary-links li span {
  padding:0 .35em;
}
#center .secondary li a {
  display:block;
  float:left;
}

h1.with-tabs {
  font-size:160%;
  float: left;
  line-height:130%;
  margin: 0 2em 0 0;
  padding: 0;
}
ul.primary li a, ul.primary li.active a, ul.primary li a:hover, ul.primary li a:visited,
ul.secondary li a, ul.secondary li.active a, ul.secondary li a:hover, ul.secondary li a:visited {
  border: 0;
  background: transparent;
  padding: 0.3em 1em;
  height: auto;
}
ul.primary li.active a, ul.primary li.active a:link, ul.primary li.active a:visited, ul.primary li a:hover,
ul.secondary li.active a, ul.secondary li.active a:link, ul.secondary li.active a:visited, ul.secondary li a:hover {
  background: #b6e42e url(images/bg-content-tab.gif) repeat-x 0 0;
  color: #fff;
  border-bottom: 1px solid #b1de2e;
}
ul.primary li.active a,
ul.secondary li.active a {
  font-weight: bold;
}
.breadcrumb {
  margin: 0 0 1.3em 0;
}
.admin-panel {
  background: #fff url(images/bg-admin-panel.gif) repeat-x left top;
  margin-bottom: 1.8em;
}
.admin-panel h3 {
  padding: 0.5em 0 0 0;
}
.two-sidebars div.admin .left, .two-sidebars div.admin .right {
  float: none;
  width: 95%;
  margin: 0;
}
div.admin .left, div.admin .right {
  width: 48.5%;
  margin: 0;
}
div.admin .left {
  float: left;
}
div.admin .right {
  float: right;
}
div.admin h3 {
  background: url(images/ico-settings.gif) no-repeat 0% 50%;
  padding-left: 26px;
}
#first-time {
  margin-top: 3em;
}

/**
 * Status report.
 */
table.system-status-report th {
  border-bottom: 1px solid #e5e5e5;
}
table.system-status-report tr.error th {
  background-image: url(images/watchdog-error.gif);
}
table.system-status-report tr.warning th {
  background-image: url(images/watchdog-warning.gif);
}
table.system-status-report tr.ok th {
  background-image: url(images/watchdog-ok.gif);
}

/**
 * Blocks.
 */
#sidebar-left .block, #sidebar-right .block {
  background: #f8f8f8 url(images/bg-block.gif) repeat-x left top;
  border-bottom: 1px solid #eeeded;
  padding: 1.13em 0.56em 0.75em;
  margin-bottom: 1.6em;
}
.block-region {
  background-color: #fdfd7b;
}
#topbar .block {
  display: block;
  margin: 0 1em;
}
#topbar .block-region {
  display: block;
  margin: 0 0 1em;
  padding: 0.5em;
}
#topbar * {
  display: inline;
  line-height: 1.5em;
  margin-top: 0;
  margin-bottom: 0;
}

/**
 * Nodes & Comments.
 */
.node {
  padding-bottom: 1.5em;
}
.node ul.links li, .node ul.inline li {
  margin: 0;
  padding: 0;
}
.node .links, .comment .links {
  text-align: left;
}
.node .links ul.links li, .comment .links ul.links li {}
.terms ul.links li {
  padding-left: 1em;
}
.comment_delete, .comment_edit, .comment_reply, .comment_forbidden {
  background: none;
}
.picture /*.comment .submitted*/ {
  float: right;
  clear: right;
  padding-left: 1em;
}
.new {
  color: #ffae00;
  font-size: 0.92em;
  font-weight: bold;
  float: right;
  margin-top: -1.2em;
}
.terms {
  float: right;
}
.preview .node, .preview .comment, .sticky {
  padding: 0.5em 0;
  border: 0;
  background: none;
}
.sticky {
  padding: 1em;
  background-color: #fff;
  border: 1px solid #e8ffa4;
  margin-bottom: 2em;
}
#comments {
  position: relative;
}
#comments h2.comments {
  margin: 1em 0 0.5em;
}
.comment {
  padding: 1.2em 25px 1.5em;
  border-top: 1px solid #e9eff3;
}
.indented {
  margin-left: 25px;
}
.comment h3 a.active {
  color: #494949;
}
.node .content, .comment .content {
  margin: 0.6em 0;
}

/**
 * Aggregator.module.
 */
#aggregator {
  margin-top: 1em;
}
#aggregator .feed-item-title {
  font-size: 160%;
  line-height: 130%;
}
#aggregator .feed-item {
  border-bottom: 1px solid #f8f8f8;
  margin: -1.5em -2.5em 1.75em;
  padding: 1.5em 31px;
}
#aggregator .feed-item-categories {
  font-size: 0.92em;
}
#aggregator .feed-item-meta {
  font-size: 0.92em;
  color: #898989;
}

/**
 * Menu.module.
 */
tr.odd td.menu-disabled {
  background-color: #fcfcfc;
}
tr.even td.menu-disabled {
  background-color: #fff;
}
td.menu-disabled {
  color: #aaa;
}

/**
 * Poll.module.
 */
.poll .bar {
  background: #fff url(images/bg-bar-white.png) repeat-x 0 0;
  border: solid #f0f0f0;
  border-width: 0 1px 1px;
}
.poll .bar .foreground {
  background: #b6e42e url(images/bg-bar.png) repeat-x 0 100%;
}
.poll .percent {
  font-size: .9em;
}
.links ul.links li {
  padding: 0 0 0 1.5em;
}

/**
 * Autocomplete.
 */
#autocomplete li {
  cursor: default;
  padding: 2px;
  margin: 0;
}

/**
 * Collapsible fieldsets.
 */
fieldset {
  margin: 1em 0;
  padding: 1em;
  border: 1px solid #e2e2e2;
  background: #fff;
}
html.js fieldset.collapsed {
  background: transparent;
  padding-top: 0;
  padding-bottom: .6em;
}
html.js fieldset.collapsible legend a {
  padding-left: 2em;
  background: url(images/menu-expanded.gif) no-repeat 0% 50%;
}
html.js fieldset.collapsed legend a {
  background: url(images/menu-collapsed.gif) no-repeat 0% 50%;
}

/**
 * Syndication icons and block.
 */
#block-node-0 h2 {
  float: left;
  padding-right: 20px;
}
#block-node-0 img, .feed-icon {
  float: right;
  padding-top: 4px;
}
#block-node-0 .content {
  clear: right;
}

/**
 * Login Block.
 */
#user-login-form {
  text-align: center;
}
#user-login-form ul {
  text-align: left;
}

/**
 * Messages.
 */
.messages {
  background-color: #fff;
  border: 1px solid #f0eacd;
}
.preview {
  background-color: #f9f7ed;
  border: 1px solid #d0d0d0;
}
.status {
  color: #9cc32a;
  border-color: #d2ec87;
}
.error {
  color: #c52020;
}
.form-item input.error, .form-item textarea.error {
  border: 1px solid #c52020;
  color: #494949;
}
.help {
  clear:both;
}

/**
 * Access.
 */
#top {
  position: absolute;
  left: 0;
  top: 0;
  z-index:100;
  width: 100%;
}
.to-top {
  background: url(images/link-arrow-up.gif) no-repeat 0% 50%;
  padding-left: 20px;
}

/**
 * TinyMCE fix
 */
body#tinymce {
  background:none;
}

/**
 * Increase font size for views 2
 */
.views-display div {
  font-size:1em;
}

.views-display .tab-section .inside .views-category-title {
  font-size:.9em;
}