
/**
 * Styles for liquid layout
 * 
 */

@import "../style.css";

/**
 * Layout.
 */
#header {
  width: 98%;
  margin: 0 auto;
  height: 5em;
  position: relative;
  text-align: left;
}
#header-block {
  position: absolute;
  top: 0.5em;
  right: 0;
  width: 48em;
  height: 1.6em;
}
#main {
  width: 98%;
  margin: 0 auto;
  padding-top: 1.6em;
  text-align: left;
}
#sidebar-left {
  width: 17%;
  margin-top: 2.2em;
  float: left;
}
#sidebar-right {
  width: 22.5%;
  float: right;
  margin-top: 2.2em;
}
#center {
  width: 100%; /* if #center is the only column */
  float: left;
}
.sidebar-left #center { /* if #center and #sidebar-left are showing */
  width: 100%;
}
.sidebar-right #center { /* if #center and #sidebar-right are showing */
  width: 76%;
}
.two-sidebars #center { /* if #center, #sidebar-left and #sidebar-right are showing */
  width: 74.4%;
}
.sidebar-left #content { /* if #center and #sidebar-left are showing */
  float: right;
  width: 80%;
}
.sidebar-right #content { /* if #center and #sidebar-right are showing */
  float: left;
  width: 100%;
}
.two-sidebars #content { /* if #center, #sidebar-left and #sidebar-right are showing */
  width: 80.4%;
  float: right;
}
#footer {
  clear: both;
  padding-top: 4em;
  text-align: center; 
}

/**
 * Administer.
 */
.two-sidebars div.admin .left, body.two-sidebars div.admin .right {
  width: 48%;
  margin: 0;
}
.two-sidebars div.admin .left {
  float: left;
}
.two-sidebars div.admin .right {
  float: right;
}
#system-themes table td, #system-themes table th {
  margin:0;
  padding: 1em 0;
}